html, body {
    max-width: 100%;
    overflow: hidden;
}

main {
    margin: 5vh 20px;
}

html {
    font-size: 3.5vw;
}

body {
    color: #333;
    background-color: #f7f7f7;
    -webkit-font-smoothing:  antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica Neue', 'Helvetica', Arial;
    font-weight: 200;
}

/* --- */

[data-ember-action] {
    cursor: pointer;
}

/* --- */

header {
    background-color: hsl(200, 53%, 79%);
}

header h1 {
    font-size: 2rem;
    margin: 0;
    padding: 1.5rem 2rem;
}

h1,
.drawapp-canvas-section,
.drawapp-toolbox-section {
    display: block;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4vh;
}

canvas.drawapp-canvas {
    position: relative;
    width: 100%;
    height: 55vh;
    background-color: #fefefe;
    border: 1px inset #ccc;
    box-sizing: border-box;
}

.drawapp-toolbox-section {
    margin: 0;
}

.drawapp-toolbox-control {
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 2vh;
    padding: 1vh 2vh;
    background-color: #fefefe;
    border: 1px outset #ccc;
    font-weight: 400;
    border-radius: 3px;
    box-sizing: border-box;
}

.drawapp-toolbox-control.readout {
    max-width: none;
}

.drawapp-toolbox-control.clickable {
    text-align: center;
    text-transform: uppercase;
}

.drawapp-toolbox-control.clickable:hover {
    background-color: #fafafa;
}

.dragging {
    cursor: move;
}

.resizing {
    cursor: nwse-resize;
}

/* --- */

/* media queries */

@media (min-width: 550px) {
    html {
        font-size: 16.5px;
    }
    .drawapp-toolbox-section {
        margin: 0 auto;
    }
    .drawapp-toolbox-control {
        max-width: 300px;
        letter-spacing: 1px;
    }
}
