html, body {
    margin: 20px;
    max-width: 100%;
    overflow-x: hidden;
}

html {
    font-size: 3vw;
}

body {
    color: #333;
    background-color: #f7f7f7;
    -webkit-font-smoothing:  antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica Neue', 'Helvetica', Arial;
    font-weight: 200;
}

/* --- */

[data-ember-action] {
    cursor: pointer;
}

/* --- */

h1,
.drawapp-canvas-section,
.drawapp-toolbox-section {
    display: block;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4vh;
}

canvas.drawapp-canvas {
    width: 100%;
    height: 60vh;
    background-color: #fefefe;
    border: 1px groove #333;
    box-sizing: border-box;
}

.drawapp-toolbox-section {
    margin: 0;
}

.drawapp-toolbox-button {
    width: 100%;
    margin: auto;
    margin-top: 2vh;
    padding: 1vh 2vh;
    background-color: #fefefe;
    border: 1px outset #333;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    box-sizing: border-box;
}

.drawapp-toolbox-button:hover {
    background-color: #fafafa;
}

/* --- */

/* media queries */

@media (min-width: 550px) {
    html {
        font-size: 16.5px;
    }
    .drawapp-toolbox-section {
        margin: 0 25vw 0 25vw;
    }
    .drawapp-toolbox-button {
        max-width: 300px;
        letter-spacing: 1px;
    }
}
